/*Color-lab: #f7b617
Color gris (footer): #2b2b2b */


*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-default {
	border-radius: 0;
	padding: 20px;
	background-color: #fff;
	padding: 0 40px 0 40px;
}

.first-section{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 100vh;
}

.contenedor{
	padding-top: 10%;
}

#cuadrado-info{
	background-color: #f7b617;
	color: #fff;
	height: 35vh;
}

.btn-uno{
	padding-top: 5%;
}

a.btn-header{
	background-color: #fff;
	color: #000;
	padding: 8px;
	border-radius: 5px;
	text-decoration: none;
}

.registro{
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	outline: 0;
}

/*Section dos*/
.second-section{
	background-color: #f7b617;
	height: 70vh;
}

.contenedor-informacion{
	padding-top: 3%;
	padding-bottom: 3%;
	color: #fff;
}

.rayita{
	border: 1px solid #fff;
	padding: 10px 40px 10px 0;
}

.third-section{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-position: center;
	height: 50vh;
}

.contenedor-tres{
	color: #fff;
}

.fondo-tres{
	background-color: rgba(0, 0, 255, 0.2);
	height: 35vh;
	padding-right: 15%;
}

.btn-tres{
	background-color: #f7b617;
	color: #fff;
	padding: 8px;
	border-radius: 5px;
	text-decoration: none;
}

.four-section{
	background-color: #f7b617;
	color: #fff;
	height: 60vh;
}

.contenedor-cuatro{
	padding-top: 3%;
}

.contenedor-cuatro-mapa{
	padding-top: 3%;
	padding-bottom: 2%;
}

#map{
	border: 1px solid #fff;
	height: 45vh;
	width: 45%;
	margin: 10px;
}

.caja-input{
	display: block;
	padding: 10px;
}

.caja-input-dos{
	display: block;
	padding: 10px;
}

.info{
	background-color: transparent;
	border:2px solid #fff;
	width: 50%;
	padding: 15px;
	outline: 0;
	border-radius: 4px;
}

.info[placeholder]{      
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.info::placeholder {
  color: #FFF;
}

.glyphicon-send{
	font-size: 20px;
	padding-left: 5px;
}

.glyphicon-record{
	font-size: 20px;
	padding-left: 5px;
}

.caja-btn-ruta{
	padding-top: 3%;
	padding-left: 20%;
}

a.btn-ruta{
	background-color: #fff;
	color: #000;
	padding: 8px;
	border-radius: 5px;
	text-decoration: none;
}

